<header id="page-topbar">
    <div class="layout-width">
        <div class="navbar-header">
            <div class="d-flex">
                <div class="navbar-brand-box horizontal-logo">
                    <a href="#" class="logo logo-dark">
                        <span class="logo-sm">
                            <img src="/assets/images/logo-sm.png" alt="" height="22">
                        </span>
                        <span class="logo-lg">
                            <img src="/assets/images/logo-dark.png" alt="" height="25">
                        </span>
                    </a>
                    <a href="#" class="logo logo-light">
                        <span class="logo-sm">
                            <img src="/assets/images/logo-sm.png" alt="" height="22">
                        </span>
                        <span class="logo-lg">
                            <img src="/assets/images/logo-light.png" alt="" height="25">
                        </span>
                    </a>
                </div>
                <button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger"
                    id="topnav-hamburger-icon">
                    <span class="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </button>
            </div>
            <div class="d-flex align-items-center">
                <div class="dropdown ms-sm-3 header-item topbar-user">
                    <button type="button" class="btn" id="page-header-user-dropdown" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <span class="d-flex align-items-center">
                            <!-- <img class="rounded-circle header-profile-user" src="/assets/images/users/avatar-1.jpg" alt="Header Avatar"> -->
                            <i class=" ri-user-3-fill" style="font-size: 20px;"></i>
                            <span class="text-start ms-xl-2">
                                <span
                                    class="d-none d-xl-inline-block ms-1 fw-medium user-name-text">{{usu_nomcom}}</span>
                                <!-- <span class="d-none d-xl-block ms-1 fs-13 text-muted user-name-sub-text">Administrador</span> -->
                            </span>
                        </span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <!-- <h6 class="dropdown-header">Bienvenido Ronaldo</h6> -->
                        <a class="dropdown-item logOutButton" (click)="logOut()"><i
                                class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i> <span
                                class="align-middle" data-key="t-logout">Cerrar Sesión</span></a>
                        <a class="dropdown-item logOutButton"><i
                                class="bx bx-lock-alt text-muted fs-16 align-middle me-1"></i> <span
                                class="align-middle" (click)="modalPass(modalCambiarPass)">Cambiar
                                Contraseña</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<ng-template #modalCambiarPass>
    <div class="row">
        <!-- <form [formGroup]="formResolucion" (ngSubmit)="guardarResolucion()"> -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header"
                    style="display: flex; justify-content: space-between; background-color: #20529d; color: white">
                    <h4 class="card-title mb-0" style="color: white;">Cambiar Contraseña</h4>
                    <a class="" (click)="cerrarModal('modalCambiarPass')" style="cursor: pointer;"> <i
                            style="font-size: 1.50rem; " class=" ri-close-fill"></i></a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="mb-3">
                            <label for="username" class="form-label">Usuario</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><i class="ri-user-3-line"></i></span>
                                <input #inputUsuario [(ngModel)]="usu_nomcom" disabled="" type="text"
                                    class="form-control disabled-color" id="username" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label class="form-label" for="password-input">Contraseña Actual</label>
                            <div class="position-relative auth-pass-inputgroup overflow-hidden">
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1"><i
                                            class="bx bx-lock-open-alt"></i></span>
                                    <input #inputContra type="password" [(ngModel)]="p_usu_passwd"
                                        class="form-control pe-5 password-input"
                                        placeholder="Ingrese su contraseña actual..." id="password-input">
                                </div>
                                <button
                                    class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
                                    type="button" id="password-addon" (click)="togglePasswordActual()"><i
                                        id="passwordEye" class="ri-eye-fill align-middle"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label class="form-label" for="password-input">Nueva Contraseña</label>
                            <div class="position-relative auth-pass-inputgroup overflow-hidden">
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1"><i
                                            class="ri-lock-2-line"></i></span>
                                    <input #inputContra type="password" [(ngModel)]="p_usu_pasnew"
                                        class="form-control pe-5 password-input"
                                        placeholder="Ingrese su contraseña nueva..." id="password-input-new">
                                </div>
                                <button
                                    class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
                                    type="button" id="password-addon" (click)="togglePasswordNew()"><i
                                        id="passwordEye-new" class="ri-eye-fill align-middle"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label class="form-label" for="password-input">Confirmar Contraseña</label>
                            <div class="position-relative auth-pass-inputgroup overflow-hidden">
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1"><i
                                            class="ri-lock-2-line"></i></span>
                                    <input #inputContra type="password" [(ngModel)]="p_usu_pasval"
                                        class="form-control pe-5 password-input" placeholder="Confirme su contraseña..."
                                        id="password-input-confirm">
                                </div>
                                <button
                                    class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
                                    type="button" id="password-addon" (click)="togglePasswordConfirm()"><i
                                        id="passwordEye-confirm" class="ri-eye-fill align-middle"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button id="btnLoginAction" class="btn bg-smp-color w-100 tc-white br-15" type="button"
                            (click)="cambiarPass()">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- </form> -->
    </div>
</ng-template>