<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">FILTROS DE BUSQUEDA - EXPEDIENTE </h4>
                    </div>
                </div>
            </div>
            <div class="card container-fluid" id="cardsuperior">
                <div class="row">
                    <div class="mb-3 col-sm-2">
                        <label for="" class="form-label col-form-label-sm">Codigo Administrado</label>
                        <div class="" style="display: flex">
                            <input #inputCodigoAdm (keydown.tab)="obtenerNombrePorCod(inputCodigoAdm.value)"
                                (keyup.enter)="obtenerNombrePorCod(inputCodigoAdm.value)" maxlength="6"
                                [(ngModel)]="p_codcon" oninput="this.value = this.value.toUpperCase()" type="text"
                                class="form-control form-control-sm" />
                        </div>
                    </div>
                    <div class="mb-3 col-sm-4 ">
                        <label for="" class="form-label col-form-label-sm">Nombre Administrado</label>
                        <div class="" style="display: flex; align-items: center">
                            <input id="cnombre" disabled="" [(ngModel)]="cnombre"
                                oninput="this.value = this.value.toUpperCase()" type="text"
                                class="form-control form-control-sm" style="background-color: #e1e1e1" />
                            <button type="button" title="Buscar" (click)="listarAdm(template)"
                                class="btn btn-primary btn-sm" style="margin-left: 5px">
                                <i class="ri-search-line"></i>
                            </button>
                        </div>
                    </div>
                    <div class="mb-2-5 col-sm-2">
                        <label for="" class="form-label col-form-label col-form-label-sm">Fecha Inicio</label>
                        <input id="fecini" [(ngModel)]="p_fecini" type="date" class=" form-control form-control-sm"
                            max="{{getMaxDate()}}" />
                    </div>
                    <div class="mb-2-5 col-sm-2">
                        <label for="" class="form-label col-form-label-sm">Fecha Fin</label>
                        <input id="fecfin" [(ngModel)]="p_fecfin" type="date" class=" form-control form-control-sm"
                            max="{{getMaxDate()}}" />
                    </div>
                    <div class="mb-3 col-sm-2">
                        <label for="" class="form-label col-form-label-sm">Nro. Expediente</label>
                        <div class="" style="display: flex">
                            <input #inputCodigoAdm (keydown.tab)="obtenerNombrePorCod(inputCodigoAdm.value)"
                                (keyup.enter)="obtenerNombrePorCod(inputCodigoAdm.value)" maxlength="6"
                                [(ngModel)]="p_numexp" oninput="this.value = this.value.toUpperCase()" type="text"
                                class="form-control form-control-sm" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row mb-2">
                        <div class="col-sm-auto mb-2-5">
                            <button (click)="consultarExpediente()" type="button"
                                class="btn btn-primary btn-label btn-sm">
                                <i class="ri-search-line label-icon align-middle fs-16 me-2"></i>
                                Consultar
                            </button>
                        </div>
                        <div class="col-sm-auto mb-2-5">
                            <button type="button" [routerLink]="['/coactivo/crear']"
                                class="btn btn-primary btn-label btn-sm">
                                <i class="ri-file-2-fill label-icon align-middle fs-16 me-2"></i>
                                Nuevo
                            </button>
                        </div>
                        <div class="col-sm-auto mb-2-5">
                            <button type="button" class="btn btn-danger btn-label btn-sm" (click)="exportarccPDF()">
                                <i class="ri-file-2-fill label-icon align-middle fs-16 me-2"></i>
                                PDF
                            </button>
                        </div>
                        <div class="col-sm-auto mb-2-5">
                            <button type="button" class="btn_excel btn btn-success btn-label btn-sm" id="ExportarExcel"
                                (click)="exportarExcel()">
                                <i class="ri-file-excel-2-fill label-icon align-middle fs-16 me-2"></i>Excel
                            </button>
                        </div>
                        <div class="col-sm-auto mb-2-5">
                            <button (click)="limpiarCampos()" type="button" class="btn btn-info btn-label btn-sm">
                                <i class=" ri-brush-2-line label-icon align-middle fs-16 me-2"></i>
                                Limpiar
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card card-h-100">
                        <div class="card-body">
                            <div>
                                <table id="tablaAplicacion" datatable [dtOptions]="dtOptionsModal"
                                    [dtTrigger]="dtTrigger" class=" align-middle mb-0 " style="width: 100%;">
                                    <thead class="table-light">
                                        <tr style="font-size: 12px;">
                                            <th class="text-center"> Num.Expediente</th>
                                            <th class="text-center">Fecha Expediente</th>
                                            <th class="text-center">Código Administrado</th>
                                            <th class="text-center">Nombre o Razón Social Administrado</th>
                                            <th class="text-center">Monto Expediente</th>
                                            <!-- <th class="text-center">Numero Expediente</th> -->
                                            <th class="text-center">Codigo SIGET</th>
                                        </tr>
                                    </thead>
                                    <tbody style="overflow-y: scroll;">
                                        <tr ngClass="" *ngFor="let data of datosExpediente; let i = index"
                                            (click)="getDataUser($event,data)" class="text-center tr_hover">
                                            <td>{{ data.exp_numexp }}</td>
                                            <td>{{ data.exp_fecexp }}</td>
                                            <td>{{ data.exp_codadm | number : "1.2-2"}}</td>
                                            <td>{{ data.exp_admnom | number : "1.2-2"}}</td>
                                            <td>{{ data.exp_monexp | number : "1.2-2"}}</td>
                                            <!-- <td>{{ data.exp_numero | number : "1.2-2"}}</td> -->
                                            <td>{{ data.exp_sigeta }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>

<ng-template #template>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header" style="display: flex; justify-content: space-between;">
                    <h4 class="card-title mb-0">Buscar</h4>
                    <a class="" style="cursor: pointer;" (click)="cerrarModal('listar-administrado')"> <i
                            style="font-size: 1.50rem; " class=" ri-close-fill"></i></a>
                </div>
                <div class="card-body">
                    <app-listar-administrado (confirmClicked)="confirmClick($event)"></app-listar-administrado>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #modalResolucionVer>
    <div class="col-lg-12">
        <div class="row">
            <form>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header" style="display: flex; justify-content: space-between;">
                            <h4 class="card-title mb-0">Ver Resolución</h4>
                            <a class="" (click)="cerrarModal('modalVerResolucion')" style="cursor: pointer;"> <i
                                    style="font-size: 1.50rem; " class=" ri-close-fill"></i></a>
                        </div>
                        <div class="card-body">
                            <app-ver-resolucion></app-ver-resolucion>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>

<ng-template #anularResolucion>
    <div class="row">
        <!-- <form [formGroup]="formAnularResolucion" (ngSubmit)="submitAnularResolucion()"> -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header" style="display: flex; justify-content: space-between;">
                    <h4 class="card-title mb-0">Anular Resolución</h4>
                    <a class="" (click)="cerrarModal('modalAnularRes')" style="cursor: pointer;"> <i
                            style="font-size: 1.50rem; " class=" ri-close-fill"></i></a>
                </div>
                <div class="card-body">
                    <app-anular-resolucion></app-anular-resolucion>
                </div>
            </div>
        </div>
        <!-- </form> -->
    </div>
</ng-template>

<ng-template #anularMulta>
    <div class="row">
        <!-- <form [formGroup]="formAnularResolucion" (ngSubmit)="submitAnularResolucion()"> -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header" style="display: flex; justify-content: space-between;">
                    <h4 class="card-title mb-0">Anular Multa</h4>
                    <a class="" (click)="cerrarModal('modalAnularMulta')" style="cursor: pointer;"> <i
                            style="font-size: 1.50rem; " class=" ri-close-fill"></i></a>
                </div>
                <div class="card-body">
                    <app-anular-multa></app-anular-multa>
                </div>
            </div>
        </div>
        <!-- </form> -->
    </div>
</ng-template>

<ng-template #modalInformeFinal>
    <div class="col-lg-12">
        <div class="row">
            <form>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header" style="display: flex; justify-content: space-between;">
                            <h4 class="card-title mb-0">Registrar Informe Final</h4>
                            <a class="" (click)="cerrarModal('modalInformeFinal')" style="cursor: pointer;"> <i
                                    style="font-size: 1.50rem; " class=" ri-close-fill"></i></a>
                        </div>
                        <div class="card-body">
                            <app-crear-informe-final></app-crear-informe-final>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>


<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-square-spin" [fullScreen]="false">
    <p style="color: white">Buscando información...</p>
</ngx-spinner>