<div class="col-lg-12">
    <div class="row">
        <div class="">
            <div class="" style="display: flex; align-items: center">
                <div class="" style="display: flex;">
                    <div class="row g-3" style=" padding: 0px 2px 16px 2px; margin: 5px; border: 0.5px ridge #e1e1e1">
                        <h4 style="margin: 0; padding: 5px 0 0 5px; font-size: 20px;">Crear nueva dirección fiscal</h4>
                        <div class="col-sm-4">
                            <label for="" class="form-label col-form-label col-form-label-sm">Tipo Via</label>
                            <select (change)="onSelectionChangeVia($event)" class="form-select form-select-sm">
                                <option [value]="0">Seleccionar</option>
                                <option *ngFor="let data of datosVia"
                                    [value]="data.id_integral +'|'+ data.abrev_detalle">
                                    {{data.abrev_detalle}}
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-8">
                            <label for="" class="form-label col-sm-8 col-form-label col-form-label-sm">Nombre de la
                                via</label>
                            <input [(ngModel)]="cdescri" oninput="this.value = this.value.toUpperCase()" type="text"
                                class="form-control form-control-sm" placeholder="" id="" />
                        </div>
                        <div class="col-sm-4">
                            <label for="" class="form-label col-form-label col-form-label-sm">Tipo Hab.Urb</label>
                            <select (change)="onSelectionChangeUrb($event)" class="form-select form-select-sm">
                                <option [value]="0">Seleccionar</option>
                                <option *ngFor="let data of datosHabUrb"
                                    [value]="data.id_integral +'|'+ data.abrev_detalle">
                                    {{data.abrev_detalle}}
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-8">
                            <label for="" class="form-label col-sm-8 col-form-label col-form-label-sm"> Nombre
                                Habilitacion Urbana
                            </label>
                            <input [(ngModel)]="dpoblad" type="text" oninput="this.value = this.value.toUpperCase()"
                                class="form-control form-control-sm" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="display: flex; justify-content: right; margin-top: 10px;">
            <div class="col-sm-auto mb-2-5">
                <button (click)="registrarDireccion();" type="button" class="btn btn-primary btn-label btn-sm">
                    <i class="ri-file-2-fill label-icon align-middle fs-16 me-2"></i>
                    Aceptar
                </button>
            </div>
        </div>
    </div>
</div>