<div class="card-body">
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="firstNameinput" class="form-label">Número Resolución <span style="color: red;">*</span>
                </label>
                <input type="text" maxlength="6" class="form-control" [(ngModel)]="resanu">
                <div *ngIf="error === 'Numero Resolucion de Anulacion, Invalido'" class="text-danger">Campo Obligatorio
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="lastNameinput" class="form-label">Fecha Resolución <span style="color: red;">*</span>
                </label>
                <input type="date" class="form-control" [(ngModel)]="fecanu">
                <div *ngIf="error === 'Fecha Resolucion de Anulacion, Invalido'" class="text-danger">Campo Obligatorio
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="text-end">
                <button type="submit" class="btn btn-primary" (click)="anularMulta()">Guardar</button>
            </div>
        </div>
    </div>
</div>