#scrollbar::-webkit-scrollbar {
    display: none;
}

#scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.active {
    color: #438eff
}

@media (min-width:1025px) {
    .logo logo-dark {
        display: none;
    }
}