#scrollbar::-webkit-scrollbar{
    display: none;
}
  
#scrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media (min-width:1025px){
    .logo logo-dark{
        display: none;
    }
}