#scrollbar::-webkit-scrollbar {
    display: none;
}

#scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.active {
    font-weight: bold;
    color: white !important;
    background-color: #20529d;
    /* transition: 3ms; */
    
}

@media (min-width:1025px) {
    .logo logo-dark {
        display: none;
    }
}