<div class="col-lg-12" >
    <div class="row">
        <div class="mb-2-5 col-lg-12">
            <label for="" class="form-label col-form-label-sm">Descripción</label>
            <div class="" style="display: flex; align-items: center">
                <input #inputReferencia [(ngModel)]="p_desubi" (keydown.tab)="obtenerReferencia(inputReferencia.value)" (keyup.enter)="obtenerReferencia(inputReferencia.value)"  type="text" class="form-control form-control-sm" id="employeeUrl"
                    oninput="this.value = this.value.toUpperCase()" style="margin-right: 5px" />
                <button type="button" class="btn btn-primary btn-label btn-sm" (click)="obtenerReferencia(inputReferencia.value)">
                    <i class="ri-search-line label-icon align-middle fs-16 me-2"></i>
                    Consultar
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="card-body">
                    <div>
                        <table id="tablaAplicaciona" datatable [dtInstance]="dtInstance" [dtOptions]="dtOptionsModal"
                            [dtTrigger]="dtTriggerModal" class="table table-hover align-middle mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col" class="text-center" style="width: 100px">
                                        ID
                                    </th>
                                    <!-- <th scope="col" class="text-center" style="width: 100px">
                                        Código
                                    </th> -->
                                    <th scope="col" class="text-center" style="width: 380px">
                                        Descripción
                                    </th>
                                    <th scope="col" class="text-center" style="width: 100px">
                                        Acción
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of datosReferencia;let idx = index"
                                    class="text-center parentesco-data-row" style="text-align: center">
                                    <td>{{ idx + 1 }}</td>
                                    <!-- <td>{{ data.r_codint }}</td> -->
                                    <td>{{ data.viaurb }}</td>
                                    <td>
                                        <button type="button" (click)="emitir(data )"
                                            class="btn btn-primary btn-sm">
                                            <i class="ri-check-fill fs-10"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>