<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">FILTROS DE BUSQUEDA - MULTAS ADMINISTRATIVAS</h4>
          </div>
        </div>
      </div>
      <div class="card container-fluid" id="cardsuperior">
        <div class="row">
          <div class="mb-2-5 col-sm-2">
            <label for="" class="form-label col-form-label-sm">Codigo Administrado</label>
            <div class="" style="display: flex">
              <input #inputCodigoAdm (keydown.tab)="obtenerNombrePorCod(inputCodigoAdm.value)"
                (keyup.enter)="obtenerNombrePorCod(inputCodigoAdm.value)" maxlength="6" [(ngModel)]="p_codcon"
                oninput="this.value = this.value.toUpperCase()" type="text" class="form-control form-control-sm" />
            </div>
          </div>
          <div class="mb-2-5 col-sm-4 ">
            <label for="" class="form-label col-form-label-sm">Nombre Administrado</label>
            <div class="" style="display: flex; align-items: center">
              <input id="cnombre" disabled="" [(ngModel)]="cnombre" oninput="this.value = this.value.toUpperCase()"
                type="text" class="form-control form-control-sm" style="background-color: #e1e1e1" />
              <button type="button" title="Buscar" (click)="listarAdm(template)" class="btn btn-primary btn-sm"
                style="margin-left: 5px">
                <i class="ri-search-line"></i>
              </button>
            </div>
          </div>
          <div class="mb-2-5 col-sm-2">
            <label for="" class="form-label col-form-label col-form-label-sm">Filtro Fechas</label>
            <select id="mrf_id" class="form-select form-select-sm" [(ngModel)]="mrf_id" (change)="busquedaTipoFecha()">
              <option [value]="0">Seleccionar</option>
              <option *ngFor="let data of datosFechas" [value]="data.mrf_id">
                {{data.mrf_descri}}
              </option>
            </select>
          </div>

          <div class="mb-2-5 col-sm-2">
            <label for="" class="form-label col-form-label col-form-label-sm">Fecha Inicio</label>
            <input disabled="" id="fecini" [(ngModel)]="p_fecini" type="date"
              class="disabled-color form-control form-control-sm" max="{{getMaxDate()}}" />
          </div>
          <div class="mb-2-5 col-sm-2">
            <label for="" class="form-label col-form-label-sm">Fecha Fin</label>
            <input disabled="" id="fecfin" [(ngModel)]="p_fecfin" type="date"
              class="disabled-color form-control form-control-sm" max="{{getMaxDate()}}" />
          </div>
        </div>
        <div class="row">
          <div class="mb-3 col-sm-2">
            <label for="" class="form-label col-form-label-sm">Codigo Infracción</label>
            <input #inputCodInfra (keydown.tab)="obtenerDescriPorCod(inputCodInfra.value)"
              (keyup.enter)="obtenerDescriPorCod(inputCodInfra.value)" maxlength="7" [(ngModel)]="p_codinf"
              oninput="this.value = this.value.toUpperCase()" type="text" class="form-control form-control-sm"
              id="employeeUrl" style="margin-right: 5px" />
          </div>
          <div class="mb-2-5 col-sm-8">
            <label for="" class="form-label col-form-label-sm">Descripción infracción</label>
            <div class="" style="display: flex; align-items: center">
              <input disabled="" [(ngModel)]="r_descri" oninput="this.value = this.value.toUpperCase()" type="text"
                class="form-control form-control-sm" style="background-color: #e1e1e1" />
              <button type="button" title="Buscar" (click)="modalDescri(templateDescri)" class="btn btn-primary btn-sm"
                style="margin-left: 5px">
                <i class="ri-search-line"></i>
              </button>
            </div>
          </div>
          <div class="mb-2-5 col-sm-2">
            <label for="" class="form-label col-form-label-sm">Nro. Notificación</label>
            <input [(ngModel)]="p_numnot" maxlength="6" type="text" class="form-control form-control-sm"
              id="employeeUrl" />
          </div>

          <div class="row mb-2">
            <div class="col-sm-auto mb-2-5">
              <button (click)="consultarMulta()" type="button" class="btn btn-primary btn-label btn-sm">
                <i class="ri-search-line label-icon align-middle fs-16 me-2"></i>
                Consultar
              </button>
            </div>
            <div class="col-sm-auto mb-2-5">
              <button type="button" [routerLink]="['/multas/crear-multa']" class="btn btn-primary btn-label btn-sm">
                <i class="ri-file-2-fill label-icon align-middle fs-16 me-2"></i>
                Nuevo
              </button>
            </div>
            <div class="col-sm-auto mb-2-5">
              <button type="button" class="btn_excel btn btn-success btn-label btn-sm" id="ExportarExcel"
                (click)="exportarExcel()">
                <i class="ri-file-excel-2-fill label-icon align-middle fs-16 me-2"></i>Excel
              </button>
            </div>
            <div class="col-sm-auto mb-2-5">
              <button (click)="limpiarCampos()" type="button" class="btn btn-info btn-label btn-sm">
                <i class=" ri-brush-2-line label-icon align-middle fs-16 me-2"></i>
                Limpiar
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="card card-h-100">
            <div class="card-body">
              <div>
                <table id="tablaAplicacion" datatable [dtOptions]="dtOptionsModal" [dtTrigger]="dtTrigger"
                  class=" align-middle mb-0 " style="width: 100%;">
                  <thead class="table-light">
                    <tr style="font-size: 12px;">
                      <th class="text-center">Nº Not.</th>
                      <th class="text-center">Código</th>
                      <th class="text-center">Descripción Multa</th>
                      <th class="text-center">Nº Resol</th>
                      <th class="text-center">F.Noti</th>
                      <th class="text-center">Monto</th>
                      <th class="text-center">Estado</th>
                      <th class="text-center">Acciones</th>
                    </tr>
                  </thead>
                  <tbody style="overflow-y: scroll;">
                    <tr ngClass="" *ngFor="let data of datosMulta; let i = index" (click)="getDataUser($event,data)"
                      class="text-center tr_hover">
                      <td>{{ data.nnumnot }}</td>
                      <td>{{ data.ccontri }}</td>
                      <td>{{ data.dmulta }}</td>
                      <td>{{ data.cnumres }}</td>
                      <td>{{ data.dfecnot | date:'dd/MM/yyyy' }}</td>
                      <td>{{ data.nmonto | number : "1.2-2" }}</td>
                      <td>
                        <span style="font-weight: bold" [style.color]="data.colreg">
                          {{ data.estreg }}
                        </span>
                      </td>
                      <!-- <td  [style.background-color]="data.colreg">
                        <span style="font-weight: bold; color: white">
                          {{ data.estreg }}
                        </span>
                      </td> -->
                      <td>

                        <div class="d-flex center">
                          <button type="button" style="margin-right: 2px;"
                            class="btn btn-sm btn-outline-primary btn-icon" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" (click)="validarBotones(data)">M</button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item verMulta" (click)="verDatosMulta(data.id_corrl)"
                              style="cursor: pointer;">Ver</a>
                            <a class="dropdown-item editarMulta" (click)="editarDatosMulta(data.id_corrl)"
                              style="cursor: pointer;">Editar</a>
                            <a class="dropdown-item anularMulta" (click)="modalAnularMulta(anularMulta,data)"
                              style="cursor: pointer;">Anular</a>
                            <!-- <a class="dropdown-item" style="cursor: pointer;">Anular</a> -->
                            <a class="dropdown-item registraranularInfo" (click)="modalInforme(modalInformeFinal,data)" style="cursor: pointer;">Informe final</a>
                          </div>

                          <button type="button" class="btn btn-sm btn-outline-danger btn-icon" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" (click)="validarBotones(data)">R</button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item registrarRes"
                              (click)="modalRegistrarResolucion(modalResolucion,data)"
                              style="cursor: pointer;">Registrar</a>
                            <a class="dropdown-item verRes" (click)="modalVerResolucion(modalResolucionVer, data)"
                              style="cursor: pointer; display: none;">Ver</a>
                            <a class="dropdown-item anularRes" (click)="modalAnularResolucion(anularResolucion, data)"
                              style="cursor: pointer; display: none;"> Anular</a>

                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- <div class="col-12">
              <div class="row"
                style="display:flex; align-items:center; justify-content: center; text-align: center; width: 100%; ">
                <div class="mt-3" style="width: 30%">
                  <label for="" class="form-label col-form-label col-form-label-sm">Usuario:</label>
                  <p>{{nomusu}}</p>
                </div>
      
      
                <div class="mt-3" style="width: 30%">
                  <label for="" class="form-label col-form-label col-form-label-sm">Modificado:</label>
                  <p> <span style="font-weight: bold;">{{nomusu}}</span></p>
                </div>
      
      
                <div class="mt-3" style="width: 20%">
                  <label for="" class="form-label col-form-label col-form-label-sm">Fecha creación: {{p_anypro}}</label>
                  <p> <span style="font-weight: bold;">{{feccre}}</span></p>
                </div>
      
      
                <div class="mt-3" style="width: 20%">
                  <label for="" class="form-label col-form-label col-form-label-sm">Fecha modificación: {{p_anypro}}</label>
                  <p> <span style="font-weight: bold;">{{feccre}}</span></p>
                </div>
      
              </div>
            </div> -->
          </div>
        </div>
      </div>

      <div class="row">
        <div class="datos-container">
          <div class="col-12 datos-body">
            <div class="col-4">
              <div class="datos-creacion">
                <div class="dato-usuario">
                  <label for=""> <span class="datos-spancolor"> Usuario: &nbsp; </span> </label>
                  <label for=""> {{nomusi}} </label>
                  <!-- <p> </p> -->
                </div>
                <div class="dato-fechacre">
                  <label for=""> <span class="datos-spancolor"> Fecha Creación: &nbsp; </span> </label>
                  <label for=""> {{fecins}} </label>
                  <!-- <p> </p> -->
                </div>
              </div>
            </div>
            <div class="col-4">
            </div>
            <div class="col-4">
              <div class="datos-modificados">
                <div class="dato-modificado">
                  <label for=""> <span class="datos-spancolor"> Modificado: &nbsp; </span></label>
                  <label for=""> {{nomusm}}</label>
                  <!-- <p></p> -->
                </div>
                <div class="dato-fecmod">
                  <label for=""> <span class="datos-spancolor">Fecha Modificado: &nbsp; </span></label>
                  <label for=""> {{fecmod}}</label>
                  <!-- <p> </p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>
</div>

<ng-template #template>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header" style="display: flex; justify-content: space-between;">
          <h4 class="card-title mb-0">Buscar</h4>
          <a class="" style="cursor: pointer;" (click)="cerrarModal('listar-administrado')"> <i
              style="font-size: 1.50rem; " class=" ri-close-fill"></i></a>
        </div>
        <div class="card-body">
          <app-listar-administrado (confirmClicked)="confirmClick($event)"></app-listar-administrado>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #templateDescri>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header" style="display: flex; justify-content: space-between;">
          <h4 class="card-title mb-0">Buscar</h4>
          <a class="" style="cursor: pointer;" (click)="cerrarModal('listar-descri')"> <i style="font-size: 1.50rem; "
              class=" ri-close-fill"></i></a>
        </div>
        <div class="card-body">
          <app-listar-descripcion (confirmClicked)="confirmClickDescri($event)"></app-listar-descripcion>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modalResolucion>
  <div class="row">
    <form [formGroup]="formResolucion" (ngSubmit)="guardarResolucion()">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header" style="display: flex; justify-content: space-between;">
            <h4 class="card-title mb-0">Registrar Resolución</h4>
            <a class="" (click)="cerrarModal('modalRegistrarRes')" style="cursor: pointer;"> <i
                style="font-size: 1.50rem; " class=" ri-close-fill"></i></a>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="firstNameinput" class="form-label">Número Resolución</label>
                  <input type="text" maxlength="8" (blur)="rellenarCerosResolucion()" class="form-control"
                    formControlName="cnumres" [(ngModel)]="cnumres">
                  <div
                    *ngIf="formResolucion.get('cnumres')?.invalid && (formResolucion.get('cnumres')?.dirty || formResolucion.get('cnumres')?.touched || submitted)">
                    <div class="text-danger" *ngIf="formResolucion.get('cnumres')?.hasError('required')">
                      Campo obligatorio</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="lastNameinput" class="form-label">Fecha Resolución</label>
                  <input type="date" class="form-control" (blur)="this.dfecnot = this.dfecres" formControlName="dfecres"
                    [(ngModel)]="dfecres">
                  <div
                    *ngIf="formResolucion.get('dfecres')?.invalid && (formResolucion.get('dfecres')?.dirty || formResolucion.get('dfecres')?.touched || submitted)">
                    <div class="text-danger" *ngIf="formResolucion.get('dfecres')?.hasError('required')">
                      Campo obligatorio</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="lastNameinput" class="form-label">Fecha Notificación</label>
                  <input type="date" class="form-control" formControlName="dfecnot" [(ngModel)]="dfecnot">
                  <div
                    *ngIf="formResolucion.get('dfecnot')?.invalid && (formResolucion.get('dfecnot')?.dirty || formResolucion.get('dfecnot')?.touched || submitted)">
                    <div class="text-danger" *ngIf="formResolucion.get('dfecnot')?.hasError('required')">
                      Campo obligatorio</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="compnayNameinput" class="form-label">Observación</label>
                  <textarea rows="1" class="form-control" formControlName="observc" [(ngModel)]="observc"></textarea>
                  <div
                    *ngIf="formResolucion.get('observc')?.invalid && (formResolucion.get('observc')?.dirty || formResolucion.get('observc')?.touched || submitted)">
                    <div class="text-danger" *ngIf="formResolucion.get('observc')?.hasError('required')">
                      Campo obligatorio</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="text-end">
                  <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #modalResolucionVer>
  <div class="col-lg-12">
    <div class="row">
      <form>
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header" style="display: flex; justify-content: space-between;">
              <h4 class="card-title mb-0">Ver Resolución</h4>
              <a class="" (click)="cerrarModal('modalVerResolucion')" style="cursor: pointer;"> <i
                  style="font-size: 1.50rem; " class=" ri-close-fill"></i></a>
            </div>
            <div class="card-body">
              <app-ver-resolucion></app-ver-resolucion>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #anularResolucion>
  <div class="row">
    <!-- <form [formGroup]="formAnularResolucion" (ngSubmit)="submitAnularResolucion()"> -->
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header" style="display: flex; justify-content: space-between;">
          <h4 class="card-title mb-0">Anular Resolución</h4>
          <a class="" (click)="cerrarModal('modalAnularRes')" style="cursor: pointer;"> <i style="font-size: 1.50rem; "
              class=" ri-close-fill"></i></a>
        </div>
        <div class="card-body">
          <app-anular-resolucion></app-anular-resolucion>
        </div>
      </div>
    </div>
    <!-- </form> -->
  </div>
</ng-template>

<ng-template #anularMulta>
  <div class="row">
    <!-- <form [formGroup]="formAnularResolucion" (ngSubmit)="submitAnularResolucion()"> -->
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header" style="display: flex; justify-content: space-between;">
          <h4 class="card-title mb-0">Anular Multa</h4>
          <a class="" (click)="cerrarModal('modalAnularMulta')" style="cursor: pointer;"> <i
              style="font-size: 1.50rem; " class=" ri-close-fill"></i></a>
        </div>
        <div class="card-body">
          <app-anular-multa></app-anular-multa>
        </div>
      </div>
    </div>
    <!-- </form> -->
  </div>
</ng-template>

<ng-template #modalInformeFinal>
  <div class="col-lg-12">
    <div class="row">
      <form>
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header" style="display: flex; justify-content: space-between;">
              <h4 class="card-title mb-0">Registrar Informe Final</h4>
              <a class="" (click)="cerrarModal('modalInformeFinal')" style="cursor: pointer;"> <i
                  style="font-size: 1.50rem; " class=" ri-close-fill"></i></a>
            </div>
            <div class="card-body">
              <app-crear-informe-final></app-crear-informe-final>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>


<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-square-spin" [fullScreen]="false">
  <p style="color: white">Buscando información...</p>
</ngx-spinner>