<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">FILTROS DE BUSQUEDA</h4>
            <!-- <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item">
                  <a href="javascript: void(0);">Inicio</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="javascript: void(0);">Personas</a>
                </li>
              </ol>
            </div> -->
          </div>
        </div>
      </div>
      <div class="card container-fluid">
        <div class="row">
          <div class="mb-2-5 col-sm-2">
            <label for="" class="form-label col-form-label-sm">Codigo Administrado</label>
            <div class="" style="display: flex">
              <input #inputCodigoAdm (keydown.tab)="obtenerNombrePorCod(inputCodigoAdm.value)"
                (keyup.enter)="obtenerNombrePorCod(inputCodigoAdm.value)" maxlength="6" [(ngModel)]="p_codcon"
                oninput="this.value = this.value.toUpperCase()" type="text" class="form-control form-control-sm" />
            </div>
          </div>
          <div class="mb-2-5 col-sm-6">
            <label for="" class="form-label col-form-label-sm">Nombre Administrado</label>
            <div class="" style="display: flex; align-items: center">
              <input id="cnombre" disabled="" [(ngModel)]="cnombre" oninput="this.value = this.value.toUpperCase()"
                type="text" class="form-control form-control-sm" style="background-color: #e1e1e1" />
              <button type="button" title="Buscar" (click)="asignarPerfil(template)" class="btn btn-primary btn-sm"
                style="margin-left: 5px">
                <i class="ri-search-line"></i>
              </button>
            </div>
          </div>
          <div class="mb-2-5 col-sm-2">
            <label for="StartleaveDate" class="form-label col-form-label-sm">Fecha Inicio</label>
            <input [(ngModel)]="p_fecini" type="date" class="form-control form-control-sm" id="StartleaveDate"
              max="{{getMaxDate()}}" (blur)="validarFechas()" />
          </div>
          <div class="mb-2-5 col-sm-2">
            <label for="StartleaveDate" class="form-label col-form-label-sm">Fecha Fin</label>
            <input [(ngModel)]="p_fecfin" type="date" class="form-control form-control-sm" id="StartleaveDate"
              max="{{getMaxDate()}}" (blur)="validarFechas()" />
          </div>
        </div>
        <div class="row">
          <div class="mb-3 col-sm-2">
            <label for="" class="form-label col-form-label-sm">Codigo Infracción</label>
            <input #inputCodInfra (keydown.tab)="obtenerDescriPorCod(inputCodInfra.value)"
              (keyup.enter)="obtenerDescriPorCod(inputCodInfra.value)" maxlength="7" [(ngModel)]="p_codinf"
              oninput="this.value = this.value.toUpperCase()" type="text" class="form-control form-control-sm"
              id="employeeUrl" style="margin-right: 5px" />
          </div>
          <div class="mb-2-5 col-sm-6">
            <label for="" class="form-label col-form-label-sm">Descripción infracción</label>
            <div class="" style="display: flex; align-items: center">
              <input disabled="" [(ngModel)]="r_descri" oninput="this.value = this.value.toUpperCase()" type="text"
                class="form-control form-control-sm" style="background-color: #e1e1e1" />
              <button type="button" title="Buscar" (click)="modalDescri(templateDescri)" class="btn btn-primary btn-sm"
                style="margin-left: 5px">
                <i class="ri-search-line"></i>
              </button>
            </div>
          </div>
          <div class="mb-2-5 col-sm-2">
            <label for="" class="form-label col-form-label-sm">Nro. Notificación</label>
            <input [(ngModel)]="p_numnot" maxlength="7" type="text" class="form-control form-control-sm"
              id="employeeUrl" />
          </div>

          <div class="row mb-2">
            <div class="col-sm-auto mb-2-5">
              <button (click)="consultarMulta()" type="button" class="btn btn-primary btn-label btn-sm">
                <i class="ri-search-line label-icon align-middle fs-16 me-2"></i>
                Consultar
              </button>
            </div>
            <div class="col-sm-auto mb-2-5">
              <button (click)="limpiarCampos()" type="button" class="btn btn-info btn-label btn-sm">
                <i class=" ri-brush-2-line label-icon align-middle fs-16 me-2"></i>
                Limpiar
              </button>
            </div>
            <div class="col-sm-auto mb-2-5">
              <button type="button" [routerLink]="['/multas/crear-multa']" class="btn btn-primary btn-label btn-sm">
                <i class="ri-file-2-fill label-icon align-middle fs-16 me-2"></i>
                Nuevo
              </button>
            </div>
            <div class="col-sm-auto mb-2-5">
              <button type="button" class="btn btn-success btn-label btn-sm" id="ExportarExcel"
                (click)="descargaExcel()">
                <i class="ri-file-excel-2-fill label-icon align-middle fs-16 me-2"></i>Excel
              </button>
            </div>
            <!-- <div class="col-sm-auto mb-2-5">
              <button type="button" class="btn btn-danger btn-label btn-sm" id="ExportarExcel">
                <i class="ri-logout-box-fill label-icon align-middle fs-16 me-2"></i>Salir
              </button>
            </div> -->
          </div>
          <!-- <div class="mb-2-5 col-sm-2" style="display: flex; align-items: center; justify-content: right">
            <button style="margin-top: 22px" (click)="consultarMulta()" type="button"
              class="btn btn-primary btn-label btn-sm">
              <i class="ri-search-line label-icon align-middle fs-16 me-2"></i>
              Consultar
            </button>
          </div> -->
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="card card-h-100">
            <div class="card-body">
              <div>
                <table id="tablaAplicacion" datatable [dtOptions]="dtOptionsModal" [dtTrigger]="dtTrigger"
                  class=" align-middle mb-0" style="width: 100%;">
                  <thead class="table-light">
                    <tr>
                      <!-- <th scope="col" class="text-center">Chk</th> -->
                      <th class="text-center">Nº Not.</th>
                      <th class="text-center">Código</th>
                      <!-- <th  class="text-center">Nombre Infractor</th> -->
                      <th class="text-center">Descripción Multa</th>
                      <th class="text-center">Nº Resol</th>
                      <th class="text-center">F.Noti</th>
                      <th class="text-center">Monto</th>
                      <th class="text-center">Estado</th>
                      <th class="text-center">

                      </th>
                    </tr>
                  </thead>
                  <tbody style="overflow-y: scroll;">
                    <tr *ngFor="let data of datosMulta; let i = index" class="text-center">
                      <!-- <td>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                          viewBox="0 0 120 120">
                          <circle stroke="black" stroke-width="3px" [attr.fill]="data.colreg" cx="60" cy="60" r="50" />
                        </svg>
                      </td> -->
                      <td>{{ data.nnumnot }}</td>
                      <td>{{ data.ccontri }}</td>
                      <!-- <td>{{ data.cnombre }}</td> -->
                      <td>{{ data.dmulta }}</td>
                      <td>{{ data.numrsa }}</td>
                      <td>{{ formatFecha(data.dfecnot) }}</td>
                      <td>{{ data.nmonto | number : "1.2-2" }}</td>
                      <td>
                        <span style="font-weight: bold" [style.color]="data.colreg">
                          {{ data.estreg }}
                        </span>
                      </td>
                      <td>

                        <!-- Dropdown Sizing -->
                        <div class="d-flex center">
                          <button type="button" style="margin-right: 2px;"
                            class="btn btn-sm btn-outline-primary btn-icon" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">M</button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Registrar</a>
                            <a class="dropdown-item" (click)="editarDatosMulta(data.id_corrl)">Editar</a>
                            <a class="dropdown-item" (click)="verDatosMulta(data.id_corrl)">Ver</a>
                            <a class="dropdown-item" href="#">Anular</a>
                            <a class="dropdown-item" href="#">Informe final</a>
                          </div>

                          <button type="button" class="btn btn-sm btn-outline-danger btn-icon" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">R</button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item"
                              (click)="modalRegistrarResolucion(modalResolucion,data)">Registrar</a>
                            <a class="dropdown-item" (click)="verDatosMulta(data.id_corrl)">Ver</a>
                            <a class="dropdown-item" (click)="modalAnularResolucion(anularResolucion,data)">Anular</a>

                          </div>
                        </div>
                        <!-- <button (click)="editarDatosMulta(data.id_corrl)" type="button" title="Editar"
                          class="btn btn-primary btn-sm" style="margin: 5px;"><i class="ri-file-edit-fill"></i>
                        </button> -->
                        <!-- <button type="button" title="Anular" class="btn btn-danger btn-sm" style="margin: 5px;"><i
                            class="ri-close-fill"></i>

                        </button> -->
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-lg-12">
          <div class="card p-2 estado-multa">
            <div class="estados">
              <div class="text" style="margin-top: 10px">
                Cuenta con 0 Multas Administrativas
              </div>
              <div class="opciones">
                <p _ngcontent-ydq-c93="" class="mb-sm-0" style="margin-top: 12px; margin-right: 5px; font-weight: bold">
                  LEYENDA
                </p>
                <div class="cuadrado btn btn-soft-dark">Activo</div>
                <div class="cuadrado btn btn-soft-danger">Anulado</div>
                <div class="cuadrado btn btn-soft-success">Pagado</div>
                <div class="cuadrado btn btn-soft-warning">Fraccionado</div>
                <div class="cuadrado btn btn-soft-info">Enviado</div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <!-- <div class="container-fluid" style="padding-bottom: 8x;">
        <div class="row">
          <div class="col-sm-auto mb-2-5">
            <button type="button" [routerLink]="['/multas/crear-multa']" class="btn btn-info btn-label btn-sm">
              <i class="ri-file-2-fill label-icon align-middle fs-16 me-2"></i>
              Nuevo
            </button>
          </div>
          <div class="col-sm-auto mb-2-5">
            <button type="button" class="btn btn-success btn-label btn-sm" id="ExportarExcel" (click)="descargaExcel()">
              <i class="ri-file-excel-2-fill label-icon align-middle fs-16 me-2"></i>Excel
            </button>
          </div>
          <div class="col-sm-auto mb-2-5">
            <button type="button" class="btn btn-danger btn-label btn-sm" id="ExportarExcel">
              <i class="ri-logout-box-fill label-icon align-middle fs-16 me-2"></i>Salir
            </button>
          </div>
        </div>
      </div> -->

    </div>
  </div>
</div>

<ng-template #template>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header" style="display: flex; justify-content: space-between;">
          <h4 class="card-title mb-0">Buscar</h4>
          <a class="" style="cursor: pointer;" (click)="cerrarModal('listar-administrado')"> <i
              style="font-size: 1.50rem; " class=" ri-close-fill"></i></a>
        </div>
        <div class="card-body">
          <app-listar-administrado (confirmClicked)="confirmClick($event)"></app-listar-administrado>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #templateDescri>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header" style="display: flex; justify-content: space-between;">
          <h4 class="card-title mb-0">Buscar</h4>
          <a class="" style="cursor: pointer;" (click)="cerrarModal('listar-descri')"> <i style="font-size: 1.50rem; "
              class=" ri-close-fill"></i></a>
        </div>
        <div class="card-body">
          <app-listar-descripcion (confirmClicked)="confirmClickDescri($event)"></app-listar-descripcion>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modalResolucion>
  <div class="row">
    <form [formGroup]="formResolucion" (ngSubmit)="guardarResolucion()">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header" style="display: flex; justify-content: space-between;">
            <h4 class="card-title mb-0">Registrar Resolución</h4>
            <a class="" style="cursor: pointer;"> <i style="font-size: 1.50rem; " class=" ri-close-fill"></i></a>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="firstNameinput" class="form-label">Número Resolución</label>
                  <input type="text" maxlength="8" (blur)="rellenarCerosResolucion()" class="form-control"
                    formControlName="cnumres" [(ngModel)]="cnumres">
                  <div
                    *ngIf="formResolucion.get('cnumres')?.invalid && (formResolucion.get('cnumres')?.dirty || formResolucion.get('cnumres')?.touched || submitted)">
                    <div class="text-danger" *ngIf="formResolucion.get('cnumres')?.hasError('required')">
                      Campo obligatorio</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="lastNameinput" class="form-label">Fecha Resolución</label>
                  <input type="date" class="form-control" (blur)="this.dfecnot = this.dfecres" formControlName="dfecres"
                    [(ngModel)]="dfecres">
                  <div
                    *ngIf="formResolucion.get('dfecres')?.invalid && (formResolucion.get('dfecres')?.dirty || formResolucion.get('dfecres')?.touched || submitted)">
                    <div class="text-danger" *ngIf="formResolucion.get('dfecres')?.hasError('required')">
                      Campo obligatorio</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="lastNameinput" class="form-label">Fecha Notificación</label>
                  <input type="date" class="form-control" formControlName="dfecnot" [(ngModel)]="dfecnot">
                  <div
                    *ngIf="formResolucion.get('dfecnot')?.invalid && (formResolucion.get('dfecnot')?.dirty || formResolucion.get('dfecnot')?.touched || submitted)">
                    <div class="text-danger" *ngIf="formResolucion.get('dfecnot')?.hasError('required')">
                      Campo obligatorio</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="compnayNameinput" class="form-label">Observación</label>
                  <textarea rows="1" class="form-control" formControlName="observc" [(ngModel)]="observc"></textarea>
                  <div
                    *ngIf="formResolucion.get('observc')?.invalid && (formResolucion.get('observc')?.dirty || formResolucion.get('observc')?.touched || submitted)">
                    <div class="text-danger" *ngIf="formResolucion.get('observc')?.hasError('required')">
                      Campo obligatorio</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="text-end">
                  <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
              </div>
              <!--end col-->
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #anularResolucion>
  <div class="row">
    <form [formGroup]="formAnularResolucion" (ngSubmit)="submitAnularResolucion()">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title mb-0" style="display: flex; justify-content: space-between;">Anular Resolución</h4>
            <a class="" style="cursor: pointer;"> <i style="font-size: 1.50rem; " class=" ri-close-fill"></i></a>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="mb-3">
                  <label for="compnayNameinput" class="form-label">Observación</label>
                  <textarea class="form-control" formControlName="p_obsresol_anular"
                    [(ngModel)]="p_obsresol_anular"></textarea>
                  <div
                    *ngIf="formAnularResolucion.get('p_obsresol_anular')?.invalid && (formAnularResolucion.get('p_obsresol_anular')?.dirty || formAnularResolucion.get('p_obsresol_anular')?.touched || submitted)">
                    <div class="text-danger"
                      *ngIf="formAnularResolucion.get('p_obsresol_anular')?.hasError('required')">
                      Campo obligatorio</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="text-end">
                  <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
              </div>
              <!--end col-->
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>


<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-square-spin" [fullScreen]="false">
  <p style="color: white">Buscando información...</p>
</ngx-spinner>