<div class="card-body">
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="" class="form-label">Número Resolución</label>
                <input type="text" disabled="" [(ngModel)]="vercnumres" ngClass="disabled-color" maxlength="8"
                    class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="lastNameinput" class="form-label">Fecha Resolución</label>
                <input type="date" disabled="" class="form-control" [(ngModel)]="verdfecres" ngClass="disabled-color">
            </div>
        </div>
        <!-- <div class="col-md-6">
            <div class="mb-3">
                <label for="lastNameinput" class="form-label">Fecha Notificación</label>
                <input type="date" disabled="" class="form-control" [(ngModel)]="verdfecnot" ngClass="disabled-color">
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="compnayNameinput" class="form-label">Observación</label>
                <textarea rows="1" class="form-control" disabled="" [(ngModel)]="verobservc"
                    ngClass="disabled-color"></textarea>
            </div>
        </div> -->
    </div>
</div>